* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.index {
  .wrapper {
    margin: 0 auto;
    padding: 100px;
    width: 100%;
  }

  .parent {
    background: whiteSmoke;
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 50%;
  }

  .child {
    background: blue;
    height: 20%;
    width: 20%;
  }
}

.scrolling {
  .wrapper {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
  }

  .parent {
    background: whiteSmoke;
    height: 1000px;
    width: 100%;
  }

  .child {
    position: absolute;
    background: blue;
    height: 50px;
    width: 50px;
  }
}

.flip {
  .parent {
    width: 600px;
    background: salmon;
    margin-left: 500px;
    margin-top: 300px;
  }

  .child {
    background: blue;
    height: 100px;
    width: 300px;

  }
}

.tooltip {
  .wrapper {
    margin: 100px auto;
    width: 75%;
    height: 500px;
    overflow-y: scroll;
  }

  .parent {
    margin: 0;
    padding: 0;
    background: whiteSmoke;
    width: 100%;
  }

  .parent > li {
    background: white;
    padding: 20px;
    border-top: 1px solid #ccc;

    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }

  .child {
    background: blue;
    padding: 20px;
    color: white;
    width: 100px;
  }
}
